:root {
  /* Color Palette */
  --1: #391e10;
  --2: #734128;
  --3: #c7a07a;
  --4: #e2ceb1;
  --5: #fdfce8;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Patrick Hand", cursive;
}

.main-color {
  background-color: var(--2) !important;
}

.linear-color {
  background: linear-gradient(to right, #683b24, #734128, #734128, #683b24);
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.banner {
  height: 91.4vh;
  background: linear-gradient(rgba(70, 39, 24, 0.4), rgba(92, 60, 45, 0.4), rgba(90, 51, 31, 0.4)), url("../image/banner.jpg");
  background-size: cover;
  background-position: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.ease-transition {
  transition: ease-in-out 0.2s;
}

.ease-transition:hover {
  transform: scale(1.1);
}

.title-transition:hover {
  transform: scale(1.03);
}

.hovered-card:hover {
  transform: scale(1.05);
}

.icon-service {
  width: 90px;
  height: 90px;
  border: solid var(--white) 2px;
  border-radius: 50%;
}
